<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token</title>
</head>
<body>
    <h1>Welcome, this data below are example for view render.</h1>
    <p>
        <%=data %>
    </p>
</body>
</html>